{
    "driver_config": {"device_address": "http://127.0.0.1:8123/api/","password":"pzM7^-K9%Bn=Azb"},
    "driver_type": "homeassistant",
    "registry_config":"config://homeassistant_test.csv",
    "interval": 60,
    "timezone": "UTC",
    "publish_breadth_first_all": false,
    "publish_depth_first": true,
    "publish_breadth_first": false,
    "publish_depth_first_all": true
}

